@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container_main {
  max-width: 1170px;  
  margin: 0 auto;
}

:root{
  --main-bg:#F63F2D;
  
}