@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F4F4;

}

.container_main {
  max-width: 1170px;  
  margin: 0 auto;

}

:root{
  --main-bg:#F63F2D;
  
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
} 
*::-webkit-scrollbar-thumb {
  background-color: #b04e38d9;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}